{
	auto_https off
	admin off
}

{$CADDY_LISTEN::8080} {
	encode zstd gzip

	@websocket header Connection *Upgrade*
	reverse_proxy @websocket {$AKKOMA_UPSTREAM:127.0.0.1:4000}

	@service_worker path /sw.js
	header @service_worker Cache-Control "public, max-age=0"

	@frontend_assets path /packs/*
	header @frontend_assets Cache-Control "public, max-age=31536000, immutable"

	@manifest path /manifest.webmanifest
	header @manifest Cache-Control "public, max-age=0, must-revalidate"

	@instance_options {
		method OPTIONS
		path /instance*
	}
	handle @instance_options {
		header Access-Control-Allow-Origin "*"
		respond 204
	}

	handle /instance* {
		header Access-Control-Allow-Origin "*"
		root * {$AKKOMA_FRONTEND_ROOT:/akkoma/static/frontends/soapbox/main}
		file_server
	}

	handle /packs/* {
		root * {$AKKOMA_FRONTEND_ROOT:/akkoma/static/frontends/soapbox/main}
		file_server
	}

	handle /sw.js {
		root * {$AKKOMA_FRONTEND_ROOT:/akkoma/static/frontends/soapbox/main}
		file_server
	}

	handle /manifest.webmanifest {
		root * {$AKKOMA_FRONTEND_ROOT:/akkoma/static/frontends/soapbox/main}
		file_server
	}

	handle /favicon.ico {
		root * {$AKKOMA_STATIC_DIR:/akkoma/static}
		try_files /favicon.ico /favicon.png
		file_server
	}

	handle /favicon.png {
		root * {$AKKOMA_STATIC_DIR:/akkoma/static}
		file_server
	}

	handle /logo.svg {
		root * {$AKKOMA_STATIC_DIR:/akkoma/static}
		file_server
	}

	handle /media/* {
		reverse_proxy {$AKKOMA_UPSTREAM:127.0.0.1:4000}
	}

	reverse_proxy {$AKKOMA_UPSTREAM:127.0.0.1:4000} {
		header_down Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self' 'wasm-unsafe-eval' https://static.cloudflareinsights.com; style-src 'self' 'unsafe-inline'; font-src 'self'; base-uri 'self'; manifest-src 'self'; connect-src 'self' blob: https: wss:; img-src 'self' data: blob: https:; media-src 'self' https:; frame-src 'self' https:; frame-ancestors 'none';"
	}
}
